footer
{
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 16px;
  background-color: #333;
  color: white;
  ul
  { 
    padding-left: 0;
    li
    {
      display: inline-block;
    }
  }
}