<template name="userDropdown">
  <li class="dropdown hidden-xs">
    <a href="#" class="dropdown-toggle link" data-toggle="dropdown">{{niceName User._id}} <i class="fa fa-chevron-down i-xs"></i></a>
    <ul class="dropdown-menu">
      <!--<li><a href="{{pathFor 'profile'}}">{{_ "profile"}}</a></li>-->
      <li><a href="{{pathFor 'account'}}">{{_ "settings"}}</a></li>
      <li class="divider"></li>
      <li><a href="/sign-out">{{_ "signout"}}</a></li>
    </ul>
  </li>
</template>
